{% extends "blog.html" %}
{% block article %}
  <img src="/static/img/blog/{{post.id}}-full.jpg"
       class="img-responsive" alt="Blog entry image">

  <h1>{{post.title}}</h1>
  <h1 class="spacer">___</h1>
  <p class="article-date">{{post.tstamp}}</p>
  <p class="article-description"><strong>{{post.description}}</strong>
  <p>
    {{ _("Hello there, Internet! I’ve already introduced myself a little bit in the index page. Wasn't enough? Don’t worry! There’s more, so much more! Look! I’ve felt wierd and different to other people my entire life. It’s for that reason, I decided to write about my thoughts and life and share it with you. I hope you’ll enjoy reading as much as I did writing. Let’s do it!") }}
  </p>
<p>
  {{ _("So, I’m Gabriel, the dude in the picture with a suit. The other guy is Jonathan, a great friend. That day was very special because I took my last final exam in the university.") }}
</p>
<div class="se-section-delimiter"></div>

<h2 id="what-will-you-find-here">{{ _("What will you find here?") }}</h2>

<p>{{ _("I’m an IT guy and very passionate about software <strong>programming</strong>, hence I’m going to write a lot about that. Several years ago, when I started to read about programming I discovered a philosophy called <strong>Free Software</strong> that I supported it since then. So, probably you’ll read something about that!") }}</p>

<p>{{ _("In the other hand, I’m a human being! Therefore, I going to write about humans stuff, including problems, feelings, and thoughts.") }}</p>
{% endblock %}
