<!DOCTYPE html>
<html lang="{{ g.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="injaon's blog">
    <meta name="author" content="Gabriel López">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <!-- Bootstrap core CSS -->
    <link
       rel="stylesheet"
       href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- custom css -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="/static/js/bootstrap/respond.min.js"></script>
        <script src="/static/js/bootstrap/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body class="page-{% block page %}{% endblock %}">
    <div class="container" id="container">
      <div class="row top">
        <div class="col-lg-8 col-md-8 col-sm-7 col-left">
          <div class="name">
            <a href="/">López Gabriel</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-5 col-right">
          <nav>
            <ul class="list-inline" id="menu">
              <li {% if request.endpoint == 'home' %} class="active"
                  {% endif %}>
                <a href="/">{{ _("work") }}</a>
              </li>
              <li {% if request.endpoint == 'blog' %} class="active"
                  {% endif %}>
                <a href="/blog">blog</a>
              </li>
              <li {% if request.endpoint == 'contact' %} class="active"
                  {% endif %}>
                <a href="/contact">{{ _("contact") }}</a>
              </li>
              <li class="last">
                <!-- flag for other language -->
                <a
                   {% if g.lang == 'en' %}
                   href="?lang=es"
                   {% else %}
                   href="?lang=en"
                   {% endif %}
                   id="changeLang">
                    <img class="flag"
                         {% if g.lang == 'en' %}
                         src="/static/img/argentina-flag.png"
                         {% else %}
                         src="/static/img/uk-flag.png"
                         {% endif %}>
                  </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="row bottom">
        <div class="col-lg-8 col-md-8 col-sm-7 col-left">
          <div>
            <!-- left side  -->
            {% block leftside %}{% endblock %}
            <!-- end left side  -->
          </div>
        </div>
        <!-- right side  -->
        {% block rightside %}{% endblock %}
        <!-- end rigth side -->
      </div>
      <!-- JavaScript -->
      <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="/static/js/plugins/fastclick/fastclick.js"></script>
      <script src="/static/js/plugins/smooth-scroll/jquery.smooth-scroll.min.js"></script>
      <script src="/static/js/plugins/mixitup/jquery.mixitup.min.js"></script>
      <script src="/static/js/main.js"></script>
      <!-- GA -->
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-49584811-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
        })();
      </script>
      {% block js %}{% endblock%}
    </div>
    {% block endbody %}{% endblock %}
  </body>
</html>
