{% extends "base.html"%}
{% block title %}Blog - Gabriel Lopez{% endblock %}
{% block page %}blog{% endblock %}
{% block leftside %}
<section>
  <!-- article main content -->
  <div id="article-content">{% block article %}{% endblock  %}</div>
  {% if post %}
  <!-- navigation -->
  <ul class="pager">
    <li class="previous"><a href="#">&lt; Prev</a></li>
    <li class="next disabled"><a href="#">Next &gt;</a></li>
  </ul>
  <hr>
  <!-- Disques comments -->
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'injaonsblog';
    var disqus_identifier = 'blog-{{ post.id }}';
    (function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
  <a href="//disqus.com" class="dsq-brlink"
     >comments powered by <span class="logo-disqus">Disqus</span></a>
  <!-- end comments -->
  <hr>

  <!-- share -->
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <h3 class="share">Share</h3>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-right">
      <a href="#"><img class="social" src="/static/img/icon/icon-mail.png"
                       alt="Mail">
      </a>
      <a href="#"><img class="social" src="/static/img/icon/icon-facebook.png"
                       alt="Facebook">
      </a>
      <a href="#"><img class="social" src="/static/img/icon/icon-twitter.png"
                       alt="Twitter">
      </a>
      <a href="#"><img class="social" src="/static/img/icon/icon-google.png"
                       alt="Google plus">
      </a>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}
{% block rightside %}
<div class="col-lg-4 col-md-4 col-sm-5 col-right">
  <div id="scroll-shadow"></div>
  <h1 class="visible-xs section-header" id="posts-list">Last articles</h1>
  <h1 class="visible-xs text-center spacer">___</h1>
  <section class="blog">
    <!--article-->
    {% for entry in entries %}
    <div class="media">
      <a class="pull-left content-img" href="/blog/{{ entry.id }}">
        <img class="media-object"
             src="/static/img/blog/{{entry.id}}-thumbnail.jpg"
             alt="miniature-article">
      </a>
      <div class="media-body">
        <!--article title-->
        <a href="/blog/{{ entry.id }}">
          <h4 class="media-heading">{{ entry.title }}
            <span class="label label-default">New</span></h4>
        </a>
        <p class="article-category">{{ entry.category }}</p>
        <p class="article-date">{{ entry.tstamp }}</p>
        <!--article short description-->
        <p class="article-description">{{ entry.description }}</p>
      </div>
    </div>
    {% endfor %}
  </section>
  <!-- <a class="btn btn-default btn-lg btn-block load-more">Load more</a> -->
  <a class="btn btn-block scroll-top visible-xs">
    <img src="/static/img/icon/icon-chevron.png" alt="Scroll top">
  </a>
</div>
{% endblock %}
