{% extends "base.html"%}
{% block title %}{{ _("Contact") }} - Gabriel Lopez{% endblock %}
{% block page %}contact{% endblock %}
{% block leftside %}
<section>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
      <!--input contact-->
      <h1>{{ _("Contact") }}</h1>
      <h1 class="spacer">___</h1>
      <p>{{ _("If you want, you can send me a message. I'll promise to read it and respond it! My word is oak.") }}
      </p>
      <hr>
      <div class="panel panel-default contact btn-footer">
        <div class="panel-body">
          <form id="emailForm" role="form">
            <div class="form-group">
              <input type="email" class="form-control" id="contactEmail"
                     required placeholder="{{ _('Email address') }}">
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="5" id="contactMessage"
                        placeholder="{{ _('Message body here..') }}"
                        required></textarea>
            </div>
            <!-- reCaptcha -->
            <div class="form-group">
            <script type="text/javascript">
              var RecaptchaOptions = {
              theme : "clean"
              };
            </script>
            <p id="captcha-error" class="text-danger hidden"></p>
            <script type="text/javascript"
                    src="http://api.recaptcha.net/challenge?k={{ captcha }}">
            </script>
            <noscript>
              <iframe src="http://api.recaptcha.net/noscript?k={{ captcha }}"
                      height="300" width="500" frameborder="0"></iframe><br>
              <textarea name="recaptcha_challenge_field" rows="3" cols="40">
              </textarea>
              <input type="hidden" name="recaptcha_response_field"
                     value="manual_challenge">
            </noscript>
            </div>
            <!-- submit button -->
            <div class="panel-footer">
              <button id="sendEmail" type="submit"
                 class="btn btn-grey btn-lg btn-block">{{ _("Send") }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block rightside %}
<div class="col-lg-4 col-md-4 col-sm-5 col-right">
  <div id="scroll-shadow"></div>
  <section>
    <div class="row">
      <div class="col-lg-12">

        <!--panel contact-->
        <div class="panel panel-default item">
          <div class="panel-heading">
            <!--your image-->
            <img class="img-responsive item-img" alt="Avatar"
                 src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/582655_4747109390289_379378632_n.jpg">
          </div>
          <div class="panel-body">
            <h4 class="item-title">Gabriel López</h4>
            <p class="item-category">
              {{ _("Software Developer in Neuquén, Argentina") }}
            </p>
            <p class="item-description">{{ _("Interesting kid, right? Add me so we can talk and be friends! (hint: I like barbecue)")}}
            </p>
            <hr>
            <div class="item-social text-center">
              <a href="//facebook.com/injaon">
                <img class="social" alt="Facebook"
                     src="/static/img/icon/icon-facebook.png">
              </a>
              <a href="//twitter.com/injaon">
                <img class="social bis" alt="Twitter"
                     src="/static/img/icon/icon-twitter.png">
              </a>
              <a href="//plus.google.com/+gabriellopez-injaon">
                <img class="social" alt="Google plus"
                     src="/static/img/icon/icon-google.png">
              </a>
              <a href="//www.linkedin.com/in/injaon">
                <img class="social bis" alt="Linkedin"
                     src="/static/img/icon/icon-linkedin.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block js %}
<script src="/static/js/contact.js"></script>
{% endblock %}
