<!DOCTYPE HTML>
<html>
  <head>
    <title>404 Error</title>
    <meta name="ROBOTS" content="NOINDEX,NOFOLLOW" >
    <style type="text/css">
      <!--
           html,body { height: 100%; margin:0; padding:0; border:0;  }
           body {  background: #000;  color: #484848; }
           td { font: 9pt Verdana,sans-serif; }
           h2{ font-size: 18pt; }
           #death img { float: left; margin-right: 5px; }
        -->
    </style>
  </head>
  <body>
    <table width="100%" height="100%" border="0" cellpadding="0"
           cellspacing="0" summary="">
      <tr><td align="center" valign="middle">
          <table width="100%" border="0" cellpadding="0"
                 cellspacing="0" background="/static/img/404-back.jpg"
                 summary="">
            <tr>
              <td align="left">
                <img src="/static/img/404-back.jpg" width="30" height="266"
                     alt="">
              </td>
              <td align="center" valign="middle">
                <table border="0" cellpadding="0" cellspacing="0" summary="">
                  <tr>
                    <td><img src="/static/img/404-real.jpg" width="237"
                             height="200" alt="">
                    </td>
                    <td align="center">
                      <h2>404 File Not found</h2>
                      {{ _("It's all a conspiracy.") }}<br/>
                      {{ _("We're hiding everything from you...") }}<br/>
                      {{ _("or maybe the file doesn't actually exist.") }}<br/>
                      hmmm....<br/>
                      <a href="/">{{ _("Go BACK!") }}</a>
                    </td>
                  </tr>
                </table>
              <td align="right">
                <img src="/static/img/404-back.jpg" width="30" height="266"
                     alt="">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- GA -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-49584811-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
