{% extends "work.html" %}
{% block article %}
<!--activity image-->
<!-- 840 x 520 -->
<img class="img-responsive" alt="Project header"
     src="/static/img/home.jpg">

<!--activity title -->
<h1>{{ _("Hey! I'm a Software Developer") }}</h1>
<h1 class="spacer">___</h1>

<p class="work">{{ _("Living in Patagonia, Argentina") }}</p>
<p>{{ _("My name is Gabriel López (AKA @injaon). I studied engineering in Universidad de Mendoza. At the beginning, I've realized the great power in computer programs, without showing the user what is actually doing. From that time, I've been in favor of Free Software") }}</p>
<p>{{ _("In the university I learn to program in Java and PHP which I've found nice and interesting for a while. But it drastically changed when I was searching about new technologies and discovered Python. Suddenly, Python became the programming languaje I want to use the rest of my life!") }}</p>
<p>{{ _("In my free time I like to run, read and listen metal music. I recomend novels that took in place in an ancient Rome to my female friends, I hate Pan Dulce, shorts and drink Fernet in a horn.") }}</p>
<p>{{ _("My friends think I'm weird but my grandma said I'm cool.") }}</p>
{% endblock %}
