{% extends "base.html"%}
{% block title %}{{ _("Work") }} - Gabriel Lopez{% endblock %}
{% block page %}index{% endblock %}
{% block leftside %}
<section>
  <div class="row text-center">
    <div class="col-lg-12" id="article-content">
      {% block article %}{% endblock %}
    </div>
  </div>
</section>
{% endblock %}
{% block rightside %}
<div class="col-lg-4 col-md-4 col-sm-5 col-right">
  <div id="scroll-shadow"></div>
  <h1 class="visible-xs section-header">{{ _("Last work") }}</h1>
  <h1 class="visible-xs text-center spacer">___</h1>

  <!--work choice-->
  <div class="item-choice">
    <a href="#" class="filter" data-filter="all">{{ _("All") }}</a>
    <a href="#" class="filter" data-filter="Education"> {{ _("Education") }}</a>
    <a href="#" class="filter" data-filter="Software"> Software</a>
    <hr>
  </div>

  <section class="row" id="Grid">
    {% for work in works %}
    <!--work 1-->
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix {{ work.category }}">
      <div class="panel panel-default item">
        <div class="panel-heading">
          <a href="/work/{{ work.id }}">
            <!--work image-->
            <img class="img-responsive item-img" alt="Work {{work.id}}"
                 src="/static/img/works/{{work.id}}-thumbnail.jpg">
            <!-- 420 x 260 -->
          </a>
        </div>
        <div class="panel-body">
          <!--work title-->
          <a href="/work/{{ work.id }}">
            <h4 class="item-title">{{ work.title }}</h4>
          </a>
          <!--work category-->
          <p class="item-category">{{ work.category }}</p>
          <!--work short description-->
          <p class="item-description">{{ work.description }}</p>
        </div>
      </div>
    </div> <!-- end work -->
    {% endfor %}
  </section>
</div>
{% endblock %}
