{% extends "work.html" %}
{% block article %}
<!--activity image-->
<!-- 840 x 520 -->
<img class="img-responsive" alt="Project header"
     src="/static/img/works/{{ post.id }}-full.jpg">

<!--activity title -->
<h1>{{ post.title }}</h1>
<h1 class="spacer">___</h1>

<!--activity descritpion-->
<p class="work">{{ post.description }}</p>
<p>{{ _("I was in the fourth year of my career when a strange opportunity appeared. The university offered me the possibility to help the students in Calculus I and II for a year in exchange of a fee reduction. I’ve have never thought of myself as a teacher but anyway I took the job.") }}</p>

<p>{{ _("It was a great challenging experience. I found myself explaining, teaching and motivating freshmen. I gave my best to help them to <em>find the X</em>, integrate, derivate and other topics. It’s not easy to explain yourself. It’s an skill which I didn’t had. So, “my best” wasn’t enough and the students didn’t understood me… at the beginning. It took me several classes but my explaining skills increased! I was glad I could transmit ideas clearer and actually helped the students to passed their exams.") }}</p>

<p>{{ _("But there was a more interesting part in this jobs which wasn’t directly related with calculus. Some students didn’t know why they opted for their careers or what the engineer’s work is. And we talked a lot about that in the breaks and after classes. I tried to motivate them to study harder and finish the career.") }}</p>

<p>{{ _("At the beginning of the year I didn’t know to expect of this job and I was full of doubts. But at the end, I’ve realized I found an unknown part of me and enjoyed the job. It was difficult but I liked it.") }}</p>
{% endblock %}
