{% extends "work.html" %}
{% block article %}
<!--activity image-->
<!-- 840 x 520 -->
<img class="img-responsive" alt="Project header"
     src="/static/img/works/{{ post.id }}-full.jpg">

<!--activity title -->
<h1>{{ post.title }}</h1>
<h1 class="spacer">___</h1>

<!--activity descritpion-->
<p class="work">{{ post.description }}</p>
<p>{{ _("<a href='//www.aareii.org.ar/galeria/caeii/category/4.html'>CAEII</a> is a national congress of industrial engineering. In 2011 it took place in Mendoza and in its organization worked a few friends. They needed an inscription system where people from the whole country access it. They had a heavy weight software which collapsed with 100 people using it. It was terrible because they must support 1000 inscriptions at the same time and their budget didn’t allow to hire a more powerful server. When they realized they were in complete chaos they called the men in black (two friends: <a href='//twitter.com/antolinij'>Jonathan</a> and <a href='//twitter.com/juanjoponce'>Juan</a> and me).") }}</p>

<p>{{ _("We had only one week to start and finish the inscription software. We moved in Jonathan’s department to work all day. We slept very little and literally, we work all day … with the stress increasing in every hour. We were under a lot of pressure for the little time we had. It was a really hard and intense week and I didn’t think we could made it. But I was wrong!") }}</p>

<p>{{ _("Three hour before the inscription began, our software was finished and on line! Fortunately, it worked like a charm. Some people didn’t like the design but it didn’t care. We couldn’t afford a web designer and after all we are programmers. After the successful inscription, we celebrate with pizza and beer.. and then I fell sleep.") }}</p>

<p>{{ _("This bring me a lot of good memories. I met really interesting people and made some long-life friends!") }}</p>
{% endblock %}
