{% extends "work.html" %}
{% block article %}
<!--activity image-->
<!-- 840 x 520 -->
<img class="img-responsive" alt="Project header"
     src="/static/img/works/{{ post.id }}-full.jpg">

<!--activity title -->
<h1>{{ post.title }}</h1>
<h1 class="spacer">___</h1>

<!--activity descritpion-->
<p class="work">{{ post.description }}</p>
<p>{{ _("<a href='//fiduswriter.org/'>Fidus Writer</a> is an open source alternative to Google Docs written in Python. When I discovered it, it was in early development. Anyway I liked it and made an small donation.  Afterwards, I started talking with its creator, <a href='//twitter.com/johanneswilm'>Johannes</a>. Slowly, I was getting involved in the project.") }}</p>

<p>{{ _("I started reporting some bugs and then proposing some features. One of them was accepted and I volunteered to implement it. Johannes liked the code I made and uploaded to the main repository. He was so thankful that wrote this <a href='//fiduswriter.org/2013/11/22/why-we-believe-in-open-source/'>article</a>.") }}</p>

<p>{{ _("I wanted to keep participating but I couldn’t find more free time. That year I took a lot of final exams, so I studied almost all day. I hope to contribute again in the future.") }}</p>
{% endblock %}
