{% extends "work.html" %}
{% block article %}
<!--activity image-->
<!-- 840 x 520 -->
<img class="img-responsive" alt="Project header"
     src="/static/img/works/{{ post.id }}-full.jpg">

<!--activity title -->
<h1>{{ post.title }}</h1>
<h1 class="spacer">___</h1>

<!--activity descritpion-->
<p class="work">{{ post.description }}</p>
<p>{{ _("It’s not a big deal but it took me some time. Then it’s job!") }}</p>

<p>{{ _("I didn’t want to use any weblog engine or similar tools since it has only one user (me) and a very little posts. So, It’s a simple web application written in Python 3.x with Flask. Do you like it? See the source code <a href='//bitbucket.org/injaon/blog'>here</a>! It’s Free Software!") }}</p>
{% endblock %}
