@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic|Open+Sans+Condensed:300,700|Pacifico);
body {
  font-family: 'Lato', sans-serif;
}
.heading {
  font-family: 'Open Sans Condensed', sans-serif;
}
h1,
h2,
h3,
h4,
ul.pager {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700 !important;
}
.spacer {
  margin: 0;
  font-size: 60px;
  top: -35px;
  line-height: 20px;
  position: relative;
}
.social {
  background-color: #333333;
}
.social:hover {
  background-color: #0d0d0d;
}
input:focus {
  outline: none;
  border: none !important;
  box-shadow: none !important;
}
textarea {
  resize: none;
}
textarea:focus {
  outline: none;
  border: none !important;
  box-shadow: none !important;
}
.form-control {
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}
.btn-grey {
  background: #e6e6e6;
  color: #808080;
}
.btn-grey:hover {
  color: #333333;
  background: #cccccc;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #e6e6e6;
}
::-webkit-scrollbar-thumb {
  background: #cccccc;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #cccccc;
}
#Grid .mix {
  opacity: 0;
  display: none;
}
a.scroll-top {
  background: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: none;
  padding: 15px 0;
}
a.scroll-top img {
  width: 60px;
}
.load-more+.scroll-top {
  margin-top: 0;
}
html,
body,
.container {
  height: 100%;
}
.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}
.row {
  margin: 0;
}
.row.top {
  position: static;
}
@media (min-width: 768px) {
  .row.top {
    position: fixed;
    width: 100%;
  }
}
.row.top .col-left .name {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  padding: 10px 30px;
  margin-bottom: 0;
  background: #333333;
}
.row.top .col-left .name a {
  color: #f7f7f7;
  text-decoration: none;
}
.row.top .col-right nav {
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .row.top .col-right nav {
    border: none;
  }
}
.row.top .col-right nav .list-inline {
  display: table;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
.row.top .col-right nav .list-inline li {
  display: table-cell;
  padding: 0;
  width: 25%;
}
.row.top .col-right nav .list-inline li.last a {
  display: inline;
  border: none;
}
.row.top .col-right nav .list-inline li.last a:hover {
  background: #fff;
}
.row.top .col-right nav .list-inline li.active {
  background: #f7f7f7;
}
.row.top .col-right nav .list-inline li.active a:hover {
  background: #f7f7f7;
}
.row.top .col-right nav .list-inline li a {
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  border-right: 1px solid #e6e6e6;
  padding: 10px 0;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .row.top .col-right nav .list-inline li a {
    padding: 14px 0;
  }
}
@media (min-width: 992px) {
  .row.top .col-right nav .list-inline li a {
    font-size: 21px;
  }
}
@media (min-width: 468px) and (max-width: 768px) {
  .row.top .col-right nav .list-inline li a {
    font-size: 21px;
  }
}
.row.top .col-right nav .list-inline li a:hover {
  color: #0d0d0d;
  text-decoration: none;
  background: #e6e6e6;
}
.row.top .col-right .social {
  position: relative;
  top: -3px;
  width: 24px;
  height: 24px;
}
.flag {
  position: relative;
  top: -3px;
  width: 24px;
  height: 24px;
}
@media (min-width: 992px) {
  .row.top .col-right .social {
    width: 32px;
    height: 32px;
  }
  .flag {
    width: 32px;
    height: 32px;
  }
}
@media (min-width: 468px) and (max-width: 768px) {
  .row.top .col-right .social {
    width: 32px;
    height: 32px;
  }
  .flag {
    width: 32px;
    height: 32px;
  }
}
.row.bottom {
  padding-top: 0;
  height: 100%;
}
@media (min-width: 768px) {
  .row.bottom {
    padding-top: 50px;
  }
}
.row.bottom .col-left ul.pager li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: none;
  font-size: 25px;
  color: #333333;
}
.row.bottom .col-left ul.pager li > a:hover {
  color: #0d0d0d;
  background-color: #f7f7f7;
}
.row.bottom .col-left ul.pager .disabled > a {
  color: #cccccc;
}
.row.bottom .col-left ul.pager .disabled > a:hover {
  color: #cccccc;
  background-color: #fff;
}
.row.bottom .col-left .share {
  margin: 0;
}
.row.bottom .col-left .social {
  width: 30px;
}
.row.bottom .col-left hr.sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.row.bottom .col-left label {
  font-weight: 400;
}
.row.bottom .col-left .work {
  font-size: 24px;
  font-style: italic;
  color: #808080;
}
.row.bottom .col-left section {
  padding: 30px 20px;
}
@media (min-width: 1200px) {
  .row.bottom .col-left section {
    padding: 30px 80px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .row.bottom .col-left section {
    padding: 30px 40px;
  }
}
.row.bottom .col-left section .article-date {
  color: #cccccc;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 24px;
}
.row.bottom .col-left section .article-tags a,
.row.bottom .col-left section .item-tags a {
  color: #808080;
}
.row.bottom .col-left section .article-tags a:hover,
.row.bottom .col-left section .item-tags a:hover {
  color: #333333;
  text-decoration: none;
}
.row.bottom .col-left section .comment-date {
  color: #cccccc;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 15px;
}
.row.bottom .col-left section .media-heading {
  margin: 0;
}
.row.bottom .col-right {
  background-color: #f7f7f7;
  border-top: 4px solid #e6e6e6;
}
@media (min-width: 768px) {
  .row.bottom .col-right {
    border: none;
  }
}
.row.bottom .col-right .item-choice {
  padding: 10px 10px 0 10px;
  text-align: center;
}
.row.bottom .col-right .item-choice a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #808080;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
}
@media (min-width: 468px) {
  .row.bottom .col-right .item-choice a {
    font-size: 20px;
    padding: 8px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .row.bottom .col-right .item-choice a {
    font-size: 16px;
    padding: 5px;
  }
}
.row.bottom .col-right .item-choice a:hover,
.row.bottom .col-right .item-choice a:focus {
  text-decoration: none;
  color: #0d0d0d;
}
.row.bottom .col-right .item-choice hr {
  margin-top: 10px;
  margin-bottom: 0;
  border-color: #e6e6e6;
}
.row.bottom .col-right .spacer {
  margin-bottom: 40px;
}
.row.bottom .col-right .load-more {
  padding: 20px 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: none;
  background: #e6e6e6;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.row.bottom .col-right .load-more:hover {
  background: #f7f7f7;
}
.row.bottom .col-right .social {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}
@media (min-width: 468px) {
  .row.bottom .col-right .social {
    width: 48px;
    height: 48px;
  }
}
.row.bottom .col-right .list-group {
  padding-bottom: 25px;
}
.row.bottom .col-right .list-group-item {
  margin: 5px 10px;
  padding: 0px;
  border: 1px solid #f7f7f7;
  font-size: 16px;
}
.row.bottom .col-right .list-group-item:hover {
  color: #0d0d0d;
  background: #e6e6e6;
}
.row.bottom .col-right .list-group-item:first-child {
  background-color: #f7f7f7;
  padding: 10px;
  margin-top: 0px;
}
@media (max-width: 468px) {
  .row.bottom .col-right section.row .col-xs-6 {
    width: 100%;
  }
}
.row.bottom .col-right h1.section-header {
  text-align: center;
  margin-bottom: 10px;
}
.row.bottom .col-right section {
  padding-top: 20px;
}
.row.bottom .col-right section.blog {
  padding-top: 0;
}
.row.bottom .col-right section .media {
  padding: 20px 10px;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
}
.row.bottom .col-right section .media:hover {
  background: #fff;
}
.row.bottom .col-right section .media-body h4 {
  font-size: 24px;
}
.row.bottom .col-right section .media-body .article-category {
  font-size: 18px;
  font-style: italic;
  color: #808080;
  margin: 0;
}
.row.bottom .col-right section .media-body .article-description {
  color: #333333;
  margin: 0;
}
.row.bottom .col-right section .media-body .article-date {
  color: #cccccc;
  margin-bottom: 5px;
}
.row.bottom .col-right section .media-body .label {
  border-radius: 0;
  padding: .1em .4em .1em;
  background: #808080;
}
.row.bottom .col-right section .media-heading {
  margin: 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  .row.bottom > div {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (min-width: 992px) {
  .row.bottom > div {
    height: 100%;
    overflow: auto;
  }
}
.row.top > div,
.row.bottom > div {
  padding: 0;
}
.panel.btn-footer .panel-footer {
  padding: 0;
}
.panel.btn-footer .panel-footer .btn {
  border-radius: 0;
}
.panel.contact .panel-body {
  background: #f7f7f7;
  border-radius: 4px;
}
.panel.contact.panel-default {
  border: none;
}
.panel.item {
  border: none;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.panel.item a {
  color: #333333;
}
.panel.item a:hover {
  color: #0d0d0d;
  text-decoration: none;
}
.panel.item hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.panel.item .panel-heading {
  padding: 0;
  background: #cccccc;
}
.panel.item .panel-body {
  background: #fff;
  padding: 0 10px;
}
.panel.item .item-img {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.panel.item .item-img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.panel.item .item-title {
  margin-bottom: 0;
}
.panel.item .item-category {
  font-style: italic;
  color: #808080;
  margin-bottom: 5px;
}
.panel.item .item-mail {
  font-size: 24px;
  background: #e6e6e6;
  padding: 30px 50px;
  text-align: center;
}
.panel.item .item-tags a {
  color: #808080;
}
.panel.item .item-tags a:hover {
  color: #333333;
  text-decoration: none;
}
.panel.item .item-social {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  #scroll-shadow:before {
    content: "";
    display: block;
    height: 16px;
    width: 100%;
    background: url("../img/gradient.png");
    position: fixed;
    z-index: 2;
  }
  #scroll-shadow:after {
    content: "";
    display: block;
    height: 16px;
    width: 100%;
    background: #f7f7f7;
    position: relative;
    z-index: 4;
  }
}
